APP_NAME= WAF
DEBUG=True
DATABASE_URL=
ML_MODEL_PATH=
ML_THRESHOLD=
RATE_LIMIT_REQUESTS=100 
RATE_LIMIT_WINDOW=60
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
MAX_REQUEST_SIZE=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
